.array-container {
    position: absolute;
    bottom: 0;
    left: 4px;
}

.array-bar {
    width: 2px;
    background-color: peru;
    display: inline-block;
    margin: 0px 1px;
}

.myButton{
    margin: 13px;
  }